[init]
	defaultBranch = trunk
[push]
	autoSetupRemote = true
[pull]
	ff = only
[color]
	ui = auto
# git user configuration. Used for name, email
[includeIf "gitdir:~/"]
	path = ~/.gitconfig.user
# git ssh configuration. Used for ssh signing
[includeIf "gitdir:~/"]
	path = ~/.gitconfig.ssh