[init]
	defaultBranch = trunk
[push]
	autoSetupRemote = true
[pull]
	ff = only
[color]
	ui = auto

# git settings - all projects on a specific remote
#    include for HTTPS or SSH remotes to GitHub
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig.proj
[includeIf "hasconfig:remote.*.url:git@github.com:**"]
	path = ~/.gitconfig.proj

# see the docs for more examples
# - https://github.com/jthegedus/dotfiles#git-conditional-configuration